include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .main-content
        section.intro
          .container
            .intro__wrapper
              header.header
                .header__wrapper
                  .logo СД
                  +nav('nav', navMenu)
                  +scl('socials', socialIcons)
              .main-title
                .pre-title !{preTitle}
                h1.title.title_owner !{ownerNameMain}
              a.scroll(href='')
                span.scroll__name Скролл
                +icon('scroll', 'scroll__pic')
        section.developer
          .container
            .developer__wrapper
              .developer__left
                .developer__ava
                  +image('content/user.jpg', 'developer__photo')
                .developer__info
                  +devInfo('developer-que', devDataQues)
                  +devInfo('developer-ans', devDataAnsw)
              .developer__right
                .developer__intro
                  .site__text.site__text_developer Привет, меня зовут
                  h2.title.title_developer #{ownerName}
                  .site__text
                    p
                      | Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .site__text.site__text_i
                  p #{siteText}
        section.skills
          .skills__pic-container
            +icon('hands', 'skills__pic')
          .skills__wrapper
            .skills__intro
              h2.title.title_skills Чем я могу быть полезен вам?
              .site__text.site__text_skills
                p #{siteText}
            .skills__data
              .skills__group
                .skills__group-name Front-end
                +skill('skills', frontEndSkills)
              .skills__group
                .skills__group-name Workflow
                +skill('skills', workflow)
        section.projects
          .container
            .projects__wrapper
              .projects__preview
                h2.title.title__projects Мои работы
                .projects__slider
                  .projects__view-zone
                    ul.projects__list
                      li.projects__item.projects__item_active <!-- активный класс -->
                        +image('projects/1.jpg', 'projects__pic')
                      li.projects__item
                        +image('projects/2.jpg', 'projects__pic')
                      li.projects__item
                        +image('projects/3.jpg', 'projects__pic')
                  .projects__scroll-buttons
                    a.button_prev
                      +icon('arrow-down', 'projects__arrow')
                    a.button_next
                      +icon('arrow-down', 'projects__arrow projects__arrow_l')
                  .projects__scroll
                    ul.projects__list
                      li.projects__item.projects__item_small.projects__item_active.projects__item_active-small <!-- активный класс -->
                        a.projects__item-link
                          +image('projects/1.jpg', 'projects__pic projects__pic_small')
                      li.projects__item.projects__item_small
                        a.projects__item-link
                          +image('projects/2.jpg', 'projects__pic projects__pic_small')
                      li.projects__item.projects__item_small
                        a.projects__item-link
                          +image('projects/3.jpg', 'projects__pic projects__pic_small')
              ul.projects__info-list
                li.projects__info-item.projects__info-item_active <!-- активный класс описания проекта -->
                  .projects__decor-number 1
                  .projects__content
                    +tools('projects__tools', toolsOfProject)
                    h3.title.title__projects.title__project-name Учебный проект "Коворкинг"
                    .projects__feedback.site__text
                      p Многостраничный сайт. Учебный проет реализован за 5 недель и сдан в обозначенные сроки. Оценка "А".
                    a.projects__link(href="https://sden4.github.io/loftschool-stage-1/")
                      +icon('link', 'projects__link-pic')
                      .projects__link-name Посмотреть сайт
                li.projects__info-item
                  .projects__decor-number 2
                  .projects__content
                    +tools('projects__tools', toolsOfProject)
                    h3.title.title__projects.title__project-name Учебный проект фитнес центра "Афродита"
                    .projects__feedback.site__text
                      p Многостраничный сайт. Учебный проет реализован за 1 неделю в перерыве между курсами Loftschool.
                    a.projects__link(href="https://sden4.github.io/loftschool-stage-1-fitness-centre/")
                      +icon('link', 'projects__link-pic')
                      .projects__link-name Посмотреть сайт
                li.projects__info-item
                  .projects__decor-number 3
                  .projects__content
                    +tools('projects__tools', toolsOfProject)
                    h3.title.title__projects.title__project-name Учебный проект бургерной "Mr.Burger"
                    .projects__feedback.site__text
                      p Многостраничный сайт. Учебный проет реализован за 6 недель и сдан в обозначенные сроки. Оценка "А".
                    a.projects__link(href="https://sden4.github.io/burger_project/dist/")
                      +icon('link', 'projects__link-pic')
                      .projects__link-name Посмотреть сайт
        section.aboutAndFeedback
          +icon('leaves', 'feedback_leaves')
          .container
            .about
              h2.title Что обо мне говорят
              .about__content-buttons
                a.about__button_round
                  +icon('arrow-down', 'about__button about__button_prev')
                a.about__button_round
                  +icon('arrow-down', 'about__button about__button_next')
              .about__content
                .about__watch-zone
                  ul.about__list
                    li.about__item
                      +icon('quote', 'about__item-pic')
                      .about__item-content
                        .site__text.about__text
                          p #{feedbackText}
                        .about__item-user
                          .about__user-photo
                            +image("content/feedback_user1.jpg", "user__ava")
                          .about__user-data
                            h5.about__user-name Ковальчук Дмитрий
                            .about__user-prof Основатель Loftschool
                    li.about__item
                      +icon('quote', 'about__item-pic')
                      .about__item-content
                        .site__text.about__text
                          p #{feedbackText}
                        .about__item-user
                          .about__user-photo
                            +image("content/feedback_user1.jpg", "user__ava")
                          .about__user-data
                            h5.about__user-name Ковальчук Дмитрий
                            .about__user-prof Основатель Loftschool
                    li.about__item
                      .about__item-content
                        .site__text.about__text
                          p #{feedbackText}
                        .about__item-user
                          .about__user-photo
                            +image("content/feedback_user1.jpg", "user__ava")
                          .about__user-data
                            h5.about__user-name Ковальчук Дмитрий
                            .about__user-prof Основатель Loftschool
                    li.about__item
                      .about__item-content
                        .site__text.about__text
                          p #{feedbackText}
                        .about__item-user
                          .about__user-photo
                            +image("content/feedback_user1.jpg", "user__ava")
                          .about__user-data
                            h5.about__user-name Ковальчук Дмитрий
                            .about__user-prof Основатель Loftschool
            .feegback
              h2.title Связаться со мной
              form.form
                .form__content
                  label.form__data
                    .form__data_wrapper
                      +icon('user', 'form__svg form__user_svg')
                      .form__input-info
                        .form__subtitle Введите ваше имя
                        input.form__input(type="text", name="name", placeholder="Ковальчук Дмитрий")
                    .form__line
                  label.form__data
                    .form__data_wrapper
                      +icon('envelope', 'form__svg form__envelope_svg')
                      .form__input-info
                        .form__subtitle Введите ваш e-mail
                        input.form__input(type="text", name="email", placeholder="loftschool@study.com")
                    .form__line
                .form__content
                  label.form__data
                    .form__data_wrapper
                      +icon('message', 'form__svg form__message_svg')
                      .form__input-info
                        .form__subtitle Сообщение к письму
                        textarea.form__input.form__input_textarea(type="text", name="message", placeholder="Требуется помощь в создании сайта. Интересуют сроки и цена вопроса.")
                    .form__line
                .form__content
                  button.button(type="submit") Отправить
        footer.footer
          .container
            .container_footer
              .footer__left
                .footer__copyright ©2019
                .footer__owner-info
                  h5.title.title_footer #{ownerName}
                  .pre-title !{preTitle}
              .footer__right
                .footer__right-up
                  +nav('nav', ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
                .footer__right-bottom
                  .footer__right-bottom-l
                    .site__text.site__text_footer
                      p #{siteTextShort}
                    +scl-footer('socials', socialIcons)
                  .footer__right-bottom-r
                    .site__text.site__text_footer
                      p #{citation}
                    .site__text_i #{citationOwner}