include ./mixins.pug
include ../components/skills.pug
include ../components/projects.pug
include ../components/about.pug
include ../components/nav.pug
include ../components/nav-footer.pug
include ../components/nav-popup.pug
include ../components/form.pug



<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .main-content
        .intro-developer
          +image("content/bg_intro_480.jpg", "intro-developer__bg intro-developer__bg_480")
          +image("content/bg_intro_768.jpg", "intro-developer__bg intro-developer__bg_768")
          .parallax
            .parallax__layer.parallax__layer_1
              +image("content/p1.png", "parallax__layer_img parallax__layer_img1", "ParallaxImage")
            .parallax__layer.parallax__layer_2
              +image("content/p2.png", "parallax__layer_img parallax__layer_img2", "ParallaxImage")
            .parallax__layer.parallax__layer_3
              +image("content/p3.png", "parallax__layer_img parallax__layer_img3", "ParallaxImage")
            .parallax__layer.parallax__layer_4
              +image("content/p4.png", "parallax__layer_img parallax__layer_img4", "ParallaxImage")
            section.intro#main
              .popup-menu-screen-lock
              .popup-menu(id="popup-menu")
                button.button__close-popup(id="popup-menu-button-close")
                .popup-menu_container
                  #navPopupComponent
                  +scl-popup('socials', socialIconsNew)
              .container#cont
                .intro__wrapper
                  header.header
                    .header__wrapper
                      .logo ДС
                      #nav-component
                      +scl('socials', socialIconsNew)
                      .gamburger-menu
                        a.gamburger-menu__link(href="#" id="gamburger-menu-button")
                          .gamburger-menu__section
                  .main-title
                    .pre-title !{preTitle}
                    h1.title.title_owner !{ownerNameMain}
                  a.scroll(href='')
                    span.scroll__name Скролл
                    +icon('scroll', 'scroll__pic')
            section.developer#developer
              .container.container_developer
                .developer__wrapper
                  .developer__left
                    .ava.ava_developer
                      +image('content/owner.jpeg', 'developer__photo', 'Developer')
                    .developer__info
                      +devInfo('developer-que', devDataQues)
                      +devInfo('developer-ans', devDataAnsw)
                  .developer__right
                    .developer__intro
                      .site__text.site__text_developer Привет, меня зовут
                      h2.title.title_developer #{ownerName}
                      .site__text.site__text_developer.site__text_developer_bottom
                        p
                          | Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    .site__text.site__text_i
                      p #{siteText}
        section.skills#skills
          .skills__pic-container
            +icon('hands', 'skills__pic')
          .skills__wrapper
            .skills__intro
              h2.title.title_skills Чем я могу быть полезен вам
              .site__text.site__text_skills
                p #{siteText}
            #skills-component
        section.projects#projects
          .container.container_projects
            .projects__wrapper
              h2.title.title__projects Мои работы
              #projects-component
        .about-form
          +image("content/bg_aboutAndFeedback.jpg", "about-form__bg", 'Form section background')
          +icon('leaves', 'form_leaves')
          section.about#about
            .container
              #about-component
          section.form__section#contacts
            #form-component
        footer.footer
          .container
            .container_footer
              .footer__left
                .footer__copyright ©2020
                .footer__owner-info
                  h5.title.title_footer #{ownerName}
                  .pre-title.pre-title_footer !{preTitle}
              .footer__right
                .footer__right-up
                  #nav-footer-component
                .footer__right-bottom
                  .footer__right-bottom-l
                    .site__text.site__text_footer
                      p #{siteTextShort}
                    +scl-footer('socials', socialIconsNew)
                  .footer__right-bottom-r
                    .site__text.site__text_footer
                      p #{citation}
                    .site__text_i.site__i_footer #{citationOwner}