include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .main-content
        section.intro
          .container
            .intro__wrapper
              header.header
                .header__wrapper
                  .logo СД
                  +nav('nav', navMenu)
                  +scl('socials', socialIcons)
              .main-title
                .pre-title !{preTitle}
                h1.title.title_owner !{ownerNameMain}
              a.scroll(href='')
                span.scroll__name Скролл
                +icon('scroll', 'scroll__pic')
        section.developer
          .container
            .developer__wrapper
              .developer__left
                .developer__ava
                  +image('content/user.jpg', 'developer__photo')
                .developer__info
                  +devInfo('developer-que', devDataQues)
                  +devInfo('developer-ans', devDataAnsw)
              .developer__right
                .developer__intro
                  .site__text.site__text_developer Привет, меня зовут
                  h2.title.title_developer #{ownerName}
                  .site__text
                    p
                      | Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .site__text.site__text_i
                  p #{siteText}
        section.skills
          .skills__pic-container
            +icon('hands', 'skills__pic')
          .skills__wrapper
            .skills__intro
              h2.title.title_skills Чем я могу быть полезен вам?
              .site__text.site__text_skills
                p #{siteText}
            .skills__data
              .skills__group
                .skills__group-name Front-end
                +skill('skills', frontEndSkills)
              .skills__group
                .skills__group-name Workflow
                +skill('skills', workflow)
        section.projects
          .container
            .projects__wrapper
              .projects__preview
                h2.title.title__projects Мои работы
                .projects__slider
                  .projects__view-zone
                    ul.projects__list
                      li.projects__item.projects__item_active
                        +image('projects/1.jpg', 'projects__pic')
                      li.projects__item
                        +image('projects/2.jpg', 'projects__pic')
                      li.projects__item
                        +image('projects/3.jpg', 'projects__pic')
                  .projects__scroll-buttons
                    a.button_prev
                      +icon('arrow-down', 'projects__arrow')
                    a.button_next
                      +icon('arrow-down', 'projects__arrow projects__arrow_l')
                  .projects__scroll
                    ul.projects__list
                      li.projects__item.projects__item_active.projects__item_active-small
                        a.projects__item-link
                          +image('projects/1.jpg', 'projects__pic projects__pic_small')
                      li.projects__item
                        a.projects__item-link
                          +image('projects/2.jpg', 'projects__pic projects__pic_small')
                      li.projects__item
                        a.projects__item-link
                          +image('projects/3.jpg', 'projects__pic projects__pic_small')
              ul.projects__info-list
                li.projects__info-item.projects__info-item_active //активный класс описания проекта
                  .projects__decor-number 1
                  .projects__content
                    +tools('projects__tools', toolsOfProject)
                    h3.title.title__projects.title__project-name Учебный проект "Коворкинг"
                    .projects__feedback.site__text
                      p Многостраничный сайт. Учебный проет реализован за 5 недель и сдан в обозначенные сроки. Оценка "А".
                    a.projects__link(href="https://sden4.github.io/loftschool-stage-1/")
                      +icon('link', 'projects__link-pic')
                      .projects__link-name Посмотреть сайт
                li.projects__info-item
                  .projects__decor-number 2
                  .projects__content
                    +tools('projects__tools', toolsOfProject)
                    h3.title.title__projects.title__project-name Учебный проект фитнес центра "Афродита"
                    .projects__feedback.site__text
                      p Многостраничный сайт. Учебный проет реализован за 1 неделю в перерыве между курсами Loftschool.
                    a.projects__link(href="https://sden4.github.io/loftschool-stage-1-fitness-centre/")
                      +icon('link', 'projects__link-pic')
                      .projects__link-name Посмотреть сайт
                li.projects__info-item
                  .projects__decor-number 3
                  .projects__content
                    +tools('projects__tools', toolsOfProject)
                    h3.title.title__projects.title__project-name Учебный проект бургерной "Mr.Burger"
                    .projects__feedback.site__text
                      p Многостраничный сайт. Учебный проет реализован за 6 недель и сдан в обозначенные сроки. Оценка "А".
                    a.projects__link(href="https://sden4.github.io/burger_project/dist/")
                      +icon('link', 'projects__link-pic')
                      .projects__link-name Посмотреть сайт
        section.about
          h2.title Что обо мне говорят
          .about__content-buttons
            .button_round.button_prev
            .button_round.button_next
          .about__content
            .about__watch-zone
              ul.about__list
                li.about__item
                  svg
                  .about__item-content
                    .site__text
                      p Этот парень проходил обучение веб-разработке не где-то, а в Loftschool
                    .about__item-user
                      .about__user-photo
                        img.user__ava
                      .about__user-data
                        h5.about__user-name Ковальчук Дмитрий
                        .about__user-prof Основатель Loftschool
                li.about__item
                  svg
                  .about__item-content
                    .site__text
                      p Этот парень проходил обучение веб-разработке не где-то, а в Loftschool
                    .about__item-user
                      .about__user-photo
                        img.user__ava
                      .about__user-data
                        h5.about__user-name Ковальчук Дмитрий
                        .about__user-prof Основатель Loftschool
                li.about__item
                  svg
                  .about__item-content
                    .site__text
                      p Этот парень проходил обучение веб-разработке не где-то, а в Loftschool
                    .about__item-user
                      .about__user-photo
                        img.user__ava
                      .about__user-data
                        h5.about__user-name Ковальчук Дмитрий
                        .about__user-prof Основатель Loftschool
                li.about__item
                  svg
                  .about__item-content
                    .site__text
                      p Этот парень проходил обучение веб-разработке не где-то, а в Loftschool
                    .about__item-user
                      .about__user-photo
                        img.user__ava
                      .about__user-data
                        h5.about__user-name Ковальчук Дмитрий
                        .about__user-prof Основатель Loftschool
        section.feegback
          h2.title Связаться со мной
          form.form
            .form__content
              label.form__data
                .form__subtitle Введите ваше имя
                .form__content
                  svg
                  input.form__input(type="text", name="name")
                .form__line
            .form__content
              label.form__data
                .form__subtitle Введите ваш e-mail
                .form__content
                  svg
                  input.form__input(type="text", name="email")
                .form__line
            .form__content
              label.form__data
                .form__subtitle Сообщение к письму
                .form__content
                  svg
                  input.form__input(type="text", name="message")
                .form__line
            .form__content
              button.button(type="submit") Отправить
        footer.footer
          .footer__left
            .footer__copyright
            .footer__owner-info
              h5.title #{ownerName}
              .pre-title #{preTitle}
          .footer__right
            +nav('nav', ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
            .footer__right-bottom
              .footer__right-bottom-l
                .site__text
                  p #{siteText}
                +scl('socials', socialIcons)
              .footer__right-bottom-r
                .site__text
                  p #{citation}
                .site__text_i #{citationOwner}