- var siteText = "Этот сайт я сделал в рамках обучения в школе онлайн образования Loftschool. Чуть позже я освежу в нем свой контент, а пока посмотрите, как тут все классно и красиво!"
- var ownerNameMain = "Денис <br> Скрябин"
- var ownerName = "Денис Скрябин"
- var preTitle = "Личный сайт <br> веб-разработчика"
- var citation = "Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете"
- var citationOwner = "Martin Golding"
- var navMenu = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
- var socialIcons = ["insta", "vk", "github"]
- var devDataQues = ['Проживаю: ', 'Возраст: ', 'Родился: ']
- var devDataAnsw = ["Екатеринбург", "37 лет", "4 июня 1982"]
- var frontEndSkills = ["HTML5", "CSS3", "JavaScript", "Jquery & Vue.js"]
- var workflow = ["GIT", "Terminal", "Gulp", "Webpack"]


mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin nav(className, items, activeItem)
  nav(class=`${className}`)
    ul(class=`${className}__list`)
      each item in items
        li(class=`${className}__item`)
          a(class=`${className}__link` href="")= item

mixin scl(className, items)
  div(class=`${className}`)
    ul(class=`${className}__list`)
      each social in items
        li(class=`${className}__item`)
          a(class=`${className}__link ${className}__link_${social}` href="#")
            +icon(`${social}`, `${className}__pic ${className}__pic_${social}`)

mixin devInfo(className, items)
  div(class=`${className}`)
    ul(class=`${className}__list`)
      for item in items
        li(class=`${className}__item`)
          div(class=`${className}__answ`)= item

mixin skill(className, items)
  ul(class=`${className}__list`)
    for item in items
      li(class=`${className}__item`)
        div(class=`${className}__empty-round`)
          div(class=`${className}__name`)= item