- var siteText = "Этот сайт я сделал в рамках обучения в школе онлайн образования Loftschool. Чуть позже я освежу в нем свой контент, а пока посмотрите, как тут все классно и красиво!"
- var siteTextShort = "Этот сайт я сделал в рамках обучения в школе онлайн образования Loftschool."
- var ownerNameMain = "Денис <br> Скрябин"
- var ownerName = "Денис Скрябин"
- var preTitle = "Личный сайт <br> веб разработчика"
- var citation = "Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете"
- var citationOwner = "Martin Golding"
- var buttonText = "Отправить"
- var navMenu = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
- var socialIconsNew = {insta: "https://www.instagram.com/accounts/login/?hl=ru", vk: "https://vk.com/id30401197", github: "https://github.com/SDen4"}
- var devDataQues = ['Проживаю: ', 'Возраст: ', 'Родился: ']
- var devDataAnsw = ["Екатеринбург", "37 лет", "4 июня 1982"]
- var toolsOfProject = ["HTML", "CSS", "JavaScript"]
- var feedbackText = "Этот парень проходил обучение веб-разработке не где-то, а в Loftschool, 4.5 месяца только самых тяжелых испытаний и бессонных ночей!"


mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className, altName)
  img(src=require(`images/${path}`) class=className alt=altName)

mixin nav(className, items, activeItem)
  nav(class=`${className}`)
    ul(class=`${className}__list`)
      each item in items
        li(class=`${className}__item`)
          a(class=`${className}__link` href="")= item

mixin nav-popup(className, items, activeItem)
  nav(class=`${className} ${className}_popup`)
    ul(class=`${className}__list ${className}__list_popup`)
      each item in items
        li(class=`${className}__item ${className}__item_popup`)
          a(class=`${className}__link ${className}__link_popup` href="")= item

mixin scl(className, items)
  div(class=`${className}`)
    ul(class=`${className}__list`)
      each val, index in items
        li(class=`${className}__item`)
          a(class=`${className}__link ${className}__link_${index}` href=`${val}`)
            +icon(`${index}`, `${className}__pic ${className}__pic_${index}`)

mixin scl-footer(className, items)
  div(class=`${className} ${className}_footer`)
    ul(class=`${className}__list ${className}__list_footer`)
      each val, index in items
        li(class=`${className}__item ${className}__item_footer`)
          a(class=`${className}__link ${className}__link_${index}` href=`${val}`)
            +icon(`${index}`, `${className}__pic ${className}__pic_${index}`)

mixin scl-popup(className, items)
  div(class=`${className} ${className}__popup`)
    ul(class=`${className}__list ${className}__list_popup`)
      each val, index in items
        li(class=`${className}__item ${className}__item_popup`)
          a(class=`${className}__link ${className}__link_${index}` href=`${val}`)
            +icon(`${index}`, `${className}__pic ${className}__pic_${index} ${className}__pic_popup`)

mixin devInfo(className, items)
  div(class=`${className}`)
    ul(class=`${className}__list`)
      for item in items
        li(class=`${className}__item`)
          div(class=`${className}__answ`)= item

mixin tools(className, items)
  div(class=`${className}`)
    ul(class=`${className}-list`)
      for item in items
        li(class=`${className}-item`)
          div(class=`${className}-name`)= item


//- шаблоны
//- +image('content/user.jpg', 'user-pic')
//- +icon('link', 'link-class')
//- .icon-bg

//- github pages
//- git add dist && git commit -m "Initial dist subtree commit"
//- git subtree push --prefix dist origin gh-pages